astroid
autoflake
autopep8
boto3
botocore
certifi
chardet
charset-normalizer
coverage
cycler
docutils
idna
isort
Jinja2
jmespath
json-cfg
kiwisolver
kwonly-args
lazy-object-proxy
MarkupSafe
matplotlib
mccabe
mock
netaddr
nose
numpy
pandas
parliament
Pillow
platformdirs
policyuniverse
pycodestyle
pyflakes
pyjq
pylint
pyparsing
python-dateutil
pytz
PyYAML
requests
s3transfer
scipy
seaborn
six
toml
typed-ast
typing-extensions
urllib3
wrapt
